.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

.nav {
  width: 100%;
  min-height: 20vh;
}

.container {
  width: 100%;
}

.card_container {
  width: 90%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.card_item {
  width: 90%;
  border: 5px inset orange;
}

.card_item img {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 420px) {
  .card_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .card_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 20px;
    transition: all 1s ease-in-out;
  }
  .card_item img:hover {
    scale: 1.5;
  }
}
